*
!.gitignore

!/qtile
/qtile/*
!/qtile/config.py
!/qtile/autostart.sh
!/qtile/lock.sh

!/alacritty
!/alacritty/*

!/cava
!/cava/*

!/albert
/albert/*
!/albert/albert.conf

!/spicetify
/spicetify
!/spicetify/config.ini
